mat-card {
  max-width: 600px;
  margin: 2rem auto;
  text-align: center;
  max-height: 600px;
}

.header{
  text-align: center;
  font-size: 20px;
  font-weight: 700;

}
.full-width {
  width: 80%;
}

.button-row {
  padding-top: 5px;
}

.button-row a {
  margin-right: 8px;
  text-align: center;
}

.forget-password{
  padding-left: 0px;
}

.emailInput{
  padding-top: 10px;
}

.contentBody {
  padding: 60px 1rem;
  background : #2c4d56;
  display: block;
}

.aLink{
  float: right;
  padding-right: 60px;
  text-decoration: none;
}

.mat-mdc-unelevated-button:not(:disabled){
  background-color: #2c4d56;
  color: white;
}
