.add-button{
  padding-top: 10px;
}
.example-spacer {
  flex: 1 1 auto;
}
.color-button {
  background-color: #2c4d56;
  color: white;
}
mat-card{
  margin: 2%;
}
h2{
  float: left;
}
th{
  background-color: #0b110d !important;
  color: white;
}
td{
  color: #0b110d;
}
.button-edit{
  color: rgba(80, 82, 82, 0.795);
}

